<div class="blog-wrapper {{ reverse ? 'blog-layout-default-reverse' : 'blog-layout-default' }}">

    <section class="blog-header"
        {% if category.details[0].imagePath is not empty %}
            style="background-image: url(/documents/{{ category.details[0].imagePath }})"
        {% elseif blogHeaderDefaultImage is not empty %}
            style="background-image: url({{ blogHeaderDefaultImage }})"
        {% endif %}>

        <div class="container-max">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="blog-category-name">{{ category.details[0].name }}</h1>

                    {% include "Blog::Other.Breadcrumbs" with { 'blogCategoryId': category.id } %}
                </div>
            </div>
        </div>
    </section>

    <div class="container-max blog-container">

        <div class="row {{ reverse ? 'flex-row-reverse' : '' }}">
            <div class="col-lg-8">
                <blog-list :category-id="{{ category.id }}" filters="{{ blogData.filters | json_encode }}"></blog-list>
            </div>

            <div class="col-lg-4 blog-sidebar">
                {% include "Blog::Sidebar.Sidebar" %}
            </div>
        </div>
    </div>
</div>