{% set category = services.category.get(blogPost.data.category.id) %}
{% set blogCategoryUrl = services.category.getURL(category) %}
{% set blogCategoryName = category.details[0].name %}
{% set blogHeaderDefaultImage = config('Blog.general.header.default_image') %}

{% if config('Blog.layouts.article') is not empty %}
    {% set articleLayout = config('Blog.layouts.article') %}
{% else %}
    {% set articleLayout = 'default' %}
{% endif %}

{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ blogPost.data.post.title }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="title" content="{{ blogPost.data.metaData.title }}">
    <meta name="description" content="{{ blogPost.data.metaData.description }}">

    <meta name="og:title" content="{{ blogPost.data.metaData.title }}">
    <meta name="og:description" content="{{ blogPost.data.metaData.description }}">
    <meta name="og:url" content="{{ blogPost.urls.postUrl }}">

    {% if blogPost.data.images.title.path is not empty %}
        <meta name="og:image" content="{{ blogPost.data.images.title.path }}">
    {% elseif blogPost.data.images.preview.path is not empty %}
        <meta name="og:image" content="{{ blogPost.data.images.preview.path }}">
    {% endif %}

    <meta name="keywords" content="{{ blogPost.data.metaData.keywords }}">
    <meta name="robots" content="{% if blogPost.data.metaData.robots is not empty %}{{ blogPost.data.metaData.robots }}{% else %}index,follow{% endif %}">
{% endblock %}

{% block PageBody %}

    {% if articleLayout == 'default' %}
        {% include "Blog::Article.Layouts.Default" %}
    {% elseif articleLayout == 'defaultreverse' %}
        {% include "Blog::Article.Layouts.Default" with { 'reverse': true } %}
    {% elseif articleLayout == 'center' %}
        {% include "Blog::Article.Layouts.Centered" %}
    {% endif %}
{% endblock %}
