<div class="blog-wrapper {{ reverse ? 'blog-layout-default-reverse' : 'blog-layout-default' }}">

    <section class="blog-header"
            {% if blogHeaderDefaultImage is not empty %}
        style="background-image: url({{ blogHeaderDefaultImage }})"
            {% endif %}>

        <div class="container-max">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="blog-category-name">
                        {{ trans("Blog::Landing.landingTitle") }}
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container-max blog-container">

        <div class="row {{ reverse ? 'flex-row-reverse' : '' }}">
            <div class="col-lg-9">
                <client-only>
                    <blog-list :filters="{{ blogData.filters ? blogData.filters | json_encode : '{}' }}" show-loader show-load-more show-dummy></blog-list>
                </client-only>
            </div>

            <div class="col-lg-3 blog-sidebar">
                {% include "Blog::Sidebar.Sidebar" %}
            </div>
        </div>
    </div>
</div>