{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ blogPost.data.post.title }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ blogPost.data.meta.description }}">
    <meta name="keywords" content="{{ blogPost.data.meta.keywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}

{% block PageBody %}
    <div class="blog-wrapper">
        <div class="container-max blog-container">

            <div class="row blog-row-small-gutters">
                <div class="col-md-8 blog-posts blog-col-small-gutters">

                    <article class="blog-post">
                        <div class="blog-post-header">
                            <h5 class="blog-category-name">{{ blogPost.data.category.name }}</h5>
                            <h1 class="blog-post-name">{{ blogPost.data.post.title }}</h1>

                            <p class="blog-details">
                                <span class="blog-detail blog-detail-date">{{ blogPost.data.post.publishedAt | date("F j, Y")}}</span>
                                <span class="blog-detail blog-detail-author">by {{ blogPost.data.user.realName }}</span>
                                {#<span class="blog-detail blog-detail-comments">15 comments</span>#}
                            </p>
                        </div>

                        {% if blogPost.data.images.title is not empty %}
                            <img class="blog-post-image blog-post-image-fullwidth" src="{{ blogPost.data.images.title.path }}">
                        {% endif %}

                        <div class="blog-body">
                            {{ blogPost.data.body | raw }}
                        </div>

                    </article>

                </div>

                <div class="col-md-4 blog-sidebar blog-col-small-gutters">
                    {% include "Blog::Category.Blog.Partials.Sidebar" %}
                </div>
            </div>

        </div>
    </div>



{% endblock %}
