{% extends getPartial('page-design') %}
{% set blogCategory = services.category.get(blogPost.data.category.id) %}
{% set blogCategoryUrl = services.category.getURL(blogCategory) %}


{% block PartialHead %}
    <title>{{ blogPost.data.post.title }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ blogPost.data.meta.description }}">
    <meta name="keywords" content="{{ blogPost.data.meta.keywords }}">

    <meta name="robots" content="{{ blogCategory.details[0].metaRobots }}">
{% endblock %}

{% block PageBody %}
    <div class="blog-wrapper">
        <div class="container-max blog-container">

            <div class="row blog-row-small-gutters">
                <div class="col-md-9 blog-col-small-gutters">
                    <div class="blog-single">
                        <article class="blog-post">
                            {% if blogPost.data.images.title is not empty %}
                                <img class="blog-post-image blog-post-image-fullwidth" src="{{ blogPost.data.images.title.path }}">
                            {% endif %}

                            <div class="blog-post-content">
                                <div class="blog-post-header">
                                    <h5 class="blog-category-name"><a href="{{ blogCategoryUrl }}" title="{{ blogPost.data.category.name }}">{{ blogPost.data.category.name }}</a></h5>
                                    <h1 class="blog-post-title">{{ blogPost.data.post.title }}</h1>

                                    <p class="blog-details">
                                        <span class="blog-detail blog-detail-author">
                                            {% if blogPost.data.user.image is not empty %}
                                                <img src="{{ blogPost.data.user.image }}" alt="{{ blogPost.data.user.realName }}" class="blog-avatar blog-avatar-md">
                                            {% else %}
                                                by
                                            {% endif %}
                                            <a href="/blog/search?search={{ blogPost.data.user.realName }}">{{ blogPost.data.user.realName }}</a> -
                                        </span>
                                        <span class="blog-detail blog-detail-date">{{ blogPost.data.post.publishedAt | date("j M, Y")}}</span>
                                    </p>
                                </div>

                                <div class="blog-body">
                                    {{ blogPost.data.post.body | raw }}
                                </div>

                                <p class="blog-tags">
                                    Tags:
                                    {% for tagId in blogPost.data.post.tags | split(',') %}
                                        {% set tagDetails = services.tag.getTagById(tagId) %}
                                        <a href="/blog/tag/{{ tagId }}" class="btn btn-primary btn-sm blog-tag">{{ tagDetails is not empty ? tagDetails.tagName : tagId }}</a>
                                    {% endfor %}
                                </p>
                            </div>

                        </article>
                    </div>
                </div>

                <div class="col-md-3 blog-sidebar blog-col-small-gutters">
                    {% include "Blog::Category.Blog.Partials.Sidebar" %}
                </div>
            </div>

        </div>
    </div>



{% endblock %}
