{# Naming this following variable "categoryBreadcrumbs" activates the default Ceres breadcrumbs #}
{% set blogHeaderDefaultImage = config('Blog.general.header.default_image') %}

{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ category.details[0].metaTitle }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">

{% endblock %}

{% block PageBody %}

    <div class="blog-wrapper">

        <section class="blog-header"
            {% if category.details[0].imagePath is not empty %}
                style="background-image: url(/documents/{{ category.details[0].imagePath }})"
            {% elseif blogHeaderDefaultImage is not empty %}
                style="background-image: url({{ blogHeaderDefaultImage }})"
            {% endif %}>

            <div class="container-max">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="blog-category-name">
                            {{ category.details[0].name }}
                        </h1>

                        {% include "Blog::Category.Blog.Partials.Breadcrumbs" with { 'blogCategoryId': category.id } %}

                    </div>
                </div>

            </div>

        </section>

        <div class="container-max blog-container">

            <div class="row">
                <div class="col-md-8">

                    <blog-list :category-id="{{ category.id }}"
                               :categories="{{ categories | json_encode }}"
                               filters="{{ blogData.filters | json_encode }}">
                    </blog-list>

                </div>

                <div class="col-md-4 blog-sidebar">
                    {% include "Blog::Category.Blog.Partials.Sidebar" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}