{% set categoryBreadcrumbs = services.category.getHierarchy() %}

{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ category.details[0].metaTitle }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">

{% endblock %}

{% block PageBody %}

    <div class="blog-wrapper">
        <div class="container-max blog-container">
            <section class="blog-header">
                <h1 class="blog-category-name">
                    {{ category.details[0].name }}
                </h1>
            </section>

            <div class="row blog-row-small-gutters">
                <div class="col-md-9 blog-col-small-gutters">

                    <div id="blog-posts" class="blog-posts">
                        {% include "Blog::Category.Blog.Partials.CategoryBlogList" %}
                    </div>

                    <blog-load-more-articles category-id="{{ category.id }}" current-page="{{ blogPosts.page }}" last-page-number="{{ blogPosts.lastPageNumber }}" ></blog-load-more-articles>

                </div>

                <div class="col-md-3 blog-sidebar blog-col-small-gutters">
                    {% include "Blog::Category.Blog.Partials.Sidebar" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}