{% set categoryBreadcrumbs = services.category.getHierarchy() %}

{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ category.details[0].metaTitle }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">

{% endblock %}

{% block PageBody %}

    <div class="blog-wrapper">
        <section class="blog-header">
            <h1 class="blog-category-name">
                {{ category.details[0].name }}
            </h1>
        </section>

        <div class="container-max blog-container">

            <div class="row">
                <div class="col-md-8">

                    <blog-list :category-id="{{ category.id }}"
                               :categories="{{ categories | json_encode }}"
                               filters="{{ blogData.filters | json_encode }}">
                    </blog-list>

                </div>

                <div class="col-md-4 blog-sidebar">
                    {% include "Blog::Category.Blog.Partials.Sidebar" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}