{% set categoryBreadcrumbs = services.category.getHierarchy() %}
{% set blogHeaderDefaultImage = config('Blog.general.header.default_image') %}

{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ page.title }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="robots" content="NOINDEX,FOLLOW">
{% endblock %}

{% block PageBody %}

    <div class="blog-wrapper">

        <section class="blog-header"
            {% if blogHeaderDefaultImage is not empty %}
                style="background-image: url({{ blogHeaderDefaultImage }})"
            {% endif %}>

            <div class="container-max">
                <div class="row">
                    <div class="col-xs-12">
                        {% if page.title is not empty %}
                            <h1 class="blog-category-name">
                                {{ page.title }}
                            </h1>
                        {% endif %}

                        {% if page.type == 'search' %}
                            <blog-search is-search-page initial-search-string="{{ filters.search }}"></blog-search>
                        {% endif %}
                    </div>
                </div>

            </div>

        </section>

        <div class="container-max blog-container">

            <div class="row">
                <div class="col-md-8">

                    <blog-list {{ page.type == 'search' ? 'is-search-page' : '' }}
                               :categories="{{ categories | json_encode }}"
                               filters ="{{ filters | json_encode }}">
                    </blog-list>

                </div>

                <div class="col-md-4 blog-sidebar">
                    {% if page.type == 'search' %}
                        {% include "Blog::Category.Blog.Partials.Sidebar" with { 'isSearchPage': true } %}
                    {% else %}
                        {% include "Blog::Category.Blog.Partials.Sidebar" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}