{% set truncatedBlogTitle = blogPost.data.post.title|length > 50 ? blogPost.data.post.title|slice(0, 50) ~ '...' : blogPost.data.post.title %}
{% set blogShowAuthor = config('Blog.general.list.showAuthor') %}

<div class="blog-wrapper {{ reverse ? 'blog-layout-default-reverse' : 'blog-layout-default' }}">

    <section class="blog-header"
        {% if category.details[0].imagePath is not empty %}
            style="background-image: url(/documents/{{ category.details[0].imagePath }})"
        {% elseif blogHeaderDefaultImage is not empty %}
            style="background-image: url({{ blogHeaderDefaultImage }})"
        {% endif %}>

        <div class="container-max">
            <h2 class="h1 blog-category-name">
                {{ category.details[0].name }}
            </h2>

            {% include "Blog::Other.Breadcrumbs" with { 'blogCategoryId': category.id, 'extra': truncatedBlogTitle } %}

        </div>

    </section>

    <div class="container-max blog-container">

        <div class="row {{ reverse ? 'flex-row-reverse' : '' }}">
            <div class="col-lg-9">
                <div class="blog-single">
                    <article class="blog-single-post">

                        <div class="blog-post-header">
                            <h1 class="blog-post-title">{{ blogPost.data.post.title }}</h1>

                            <p class="blog-details">
                                {% if blogShowAuthor == 'true' %}
                                    <span class="blog-detail blog-detail-author">
                                    {% if blogPost.data.user.image is not empty %}
                                        <img src="{{ blogPost.data.user.image }}" alt="{{ blogPost.data.user.realName }}" class="blog-avatar blog-avatar-sm">{#
                                    #}{% else %}{#
                                        #}{{ trans('Blog::Template.createdBy') }} {#
                                    #}{% endif %}{#
                                    #}<a href="/{{ trans('Blog::Landing.urlName') }}/search/{{ blogPost.data.user.realName }}">{{ blogPost.data.user.realName }}</a>
                                    -
                                </span>
                                {% endif %}
                                <span class="blog-detail blog-detail-date">{{ blogPost.data.post.publishedAt | date("j M, Y")}}</span>
                            </p>
                        </div>

                        {% if blogPost.data.images.title is not empty %}
                            {% if blogPost.data.images.title.path is not empty %}
                                <img class="blog-post-image blog-post-image-fullwidth" src="{{ blogPost.data.images.title.path }}">
                            {% endif %}
                        {% endif %}

                        <div class="blog-post-content">

                            <div class="blog-body">
                                {{ BuildBody(blogPost.data.post.body) }}
                            </div>

                            {% if blogPost.data.post.tags is not empty %}
                                <p class="blog-tags">
                                    {% for tagId in blogPost.data.post.tags | split(',') %}
                                        {% set tagName = services.tag.getTagName(tagId) %}

                                        {% if tagName is not empty %}
                                            <a href="/{{ trans('Blog::Landing.urlName') }}/tag/{{ tagId }}/{{ tagName | replace({' ':'_'}) }}" class="btn btn-light mr-1 btn-sm blog-tag">{{ tagName }}</a>
                                        {% else %}
                                            <a href="/{{ trans('Blog::Landing.urlName') }}/tag/{{ tagId }}" class="btn btn-light mr-1 btn-sm blog-tag">{{ tagId }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>

                    </article>

                    <div class="blog-related-posts mb-4">
                        <blog-list heading-text="Related posts"
                                   horizontal
                                   horizontal-classes="col-md-4 col-sm-6 mb-3"
                                   layout="horizontal-MD"
                                   :category-id="{{ blogPost.data.category.id }}"
                                   :filters="{'itemsPerPage':6}"
                                   show-loader></blog-list>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 blog-sidebar">
                {% include "Blog::Sidebar.Sidebar" %}
            </div>
        </div>

    </div>
</div>