{% set blogHeaderDefaultImage = config('Blog.general.header.default_image') %}

{% if config('Blog.layouts.landing') is not empty %}
    {% set blogLayout = config('Blog.layouts.landing') %}
{% else %}
    {% set blogLayout = 'default' %}
{% endif %}

{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ trans("Blog::Landing.landingMetaTitle") }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ trans("Blog::Landing.landingMetaTitle") }}">
    <meta name="keywords" content="{{ trans("Blog::Landing.landingMetaKeywords") }}">

    <meta name="robots" content="{% if trans("Blog::Landing.landingRobots") is not empty %}{{ trans("Blog::Landing.landingRobots") }}{% else %}INDEX, FOLLOW{% endif %}">

{% endblock %}

{% block PageBody %}

    {% if blogLayout == 'default' %}
        {% include "Blog::Landing.Layouts.Default" %}
    {% elseif blogLayout == 'defaultreverse' %}
        {% include "Blog::Landing.Layouts.Default" with { 'reverse': true } %}
    {% elseif blogLayout == 'modern' %}
        {% include "Blog::Landing.Layouts.Modern" %}
    {% elseif blogLayout == 'modernreverse' %}
        {% include "Blog::Landing.Layouts.Modern" with { 'reverse': true } %}
    {% endif %}

{% endblock %}